html, body {
  height: 100%;
  margin: 0px;
}
.bg-1 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) ), url("images/mountain-bg.jpg");
  background-color: #BE687D;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-1 h1 {
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 900;
 }
.bg-1 h3 {
  color: #ffffff;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 1.2em;
 }
.logo {
  position: fixed;
  top: 20px;
  left: 20px;
}
h1, h3 {
  color: #fff;
  margin: 2px;
}
h1 {
  font-weight: 700;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
/* Begin Typing Animation
================================================*/
.typewriter {
  overflow: hidden; /* keeps content hidden before animation finishes*/
  border-right: .15em solid white; /* space for cursor */
  white-space: nowrap;
  margin: 0 auto; /* spans entire length of content being typed */
  letter-spacing: 0em;
  animation:
    typing 2s steps(20, end), /* more steps = smoother typing */
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 12em }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
/* Begin Body Content
================================================*/
